@{
    ViewData["Title"] = "Grouping";
}
<div class="row mg">
    <h3 class="d-flex justify-content-center">Click your desire button to filter</h3>
    <div class="d-flex justify-content-center">
        <form method="post">
            <button class="btn btn-primary" type="submit" name="groupby" value="foodname">Group By Food Name</button>
            <button class="btn btn-primary" type="submit" name="groupby" value="year month">Group By Year, Month</button>
            <button class="btn btn-primary" type="submit" name="groupby" value="count">Group By Count</button>
        </form>
    </div>
</div>
@section styles
{
	<link href="~/wwwroot/css/bootstrap.css" rel="stylesheet"/>
    <style>
        .mg{
            margin-top:30px;
            margin-bottom:176px;
        }
    </style>
}